.conteiner {
    margin-top: 50px;
    padding: 20px;
}

.conteiner tr{
    height: 1rem;
}

.conteiner th{
    width: 200px;
    text-align: left;
    margin-right: 10px;
}

.conteiner .text{
    width: 500px;
}

.conteiner .sub{
    font-size: 2rem;
    padding: 20px;
}

span{
    padding: 0 20px;

}

.require{
    background-color: rgba(255, 0, 0, 0.6);
}
.quire{
    background-color: rgba(0, 255, 0, 0.6);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #000;
    color: #fff;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    line-height: 50px;
    padding: 0 20px;
}
.nav ul {
    display: flex;
}
.nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}